:root {
    --purple: #CF9FFF;
    --white: #ffffff;
    --black: #000000;
    --gray: #E5E4E2;
    --iris: #5D3FD3;
  }

  

  * {
    color: var(--fontColor);
    font-family: tomarik-display, sans-serif;
    font-style: normal;
    font-weight: 400;
  }

h1 {
  color: var(--fontColor);
    font-family: tomarik-display-shadow, sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
      background: var(--bg);
}

ul {
  font-family: tomarik-display, sans-serif;
font-weight: 400;
font-style: normal;
}

li {
    list-style: circle;
}
  
.list {
    list-style: square;
}

.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus { outline-style: none; }

.light-theme {
    --bg: var(--gray);
    --fontColor: var(--iris);
    --btnBg: var(--black);
    --btnFontColor: var(--purple);
  }
  
  .dark-theme {
    --bg: var(--black);
    --fontColor: var(--purple);
    --btnBg: var(--gray);
    --btnFontColor: var(--iris);
  }